* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;"
    display: block;
}
body{
    font-size: 20px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DF4A2A;
    width:100%;
}

li {
    float: left;
}
li a:focus, li a:hover{
    background: darkgrey;
    font-weight: bold
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
    margin: 0 20px;
}

input {
    outline: none;
}

/* Clears, forcing a new row */
.row::after {
    content: "";
    clear: both;
    display: block;
}

.border{
    border-style: solid;
    margin:10px;
    padding: 0 20px 10px 20px;
}

h2{
    text-align: center;
}


@media only screen and (max-width: 425px) {
    .flex-container-desktop-text{
        display: none;
    }
    .flex-container-large{
        display: none;
    }
    div.icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:15%;
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
    }


}
/* Media query for mobile: */
@media only screen and (min-width: 425px) and (max-width: 768px) {
    div#header{display:none;}
    div.icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        float: none;
    }
    div.icon2{
        display:none;
    }
    div#menu-bar
    {
        padding-right: 0;
        padding-left: 0;
        padding-top: 10px;
    }

    li{
        font-size: 10px;
        width:20%;
        text-align: center;
        margin:auto;
    }
    li a{
        margin: auto;
    }
    div.flex-container-desktop-text{
        display:none;
    }
}



/* Media query for tablet: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .flex-container {
        display: flex;
        align-items: center;
    }
    div#header{display:none;}
    img.aerial{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 30%;
    }
    div.icon{
        margin-top: 10px;
        padding-right:15px;
        flex-basis:150px;
    }
    div.icon2{
        display:none;
    }
    div#menu-bar{
        padding-top: 20px;
        padding-left: 0;
        flex-basis: auto;
        width: 100%;
    }
    li{
        font-size: 15px;
        width:20%;
        text-align: center;
        margin:auto;
    }
    li a{
        margin: auto;

    }
    .flex-container-large{
        display: none
    }
    div.flex-container-desktop-text{
        display:none;
    }
}

/* Media query for laptop: */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    div#menu-bar{
        padding: 0;
    }
    .flex-container {
        display: block;
        align-items: flex-start;
    }
    div#header{display:flex;}

    .flex-container-large{
        display: flex;
        align-items: center;
    }
    .flex-container-laptop-text{
        display:flex;
        align-items: stretch;
    }
    div.icon{
        display:none;
    }
    div.icon2{
        display: flex;
        flex-basis: auto;
    }
    div#header{
        flex-basis: auto;
    }
    li{
        font-size: 15px;
        width:20%;
        text-align: center;
        margin:auto;
    }
    li a{
        margin: auto;
    }
    div#campus{
        flex-basis: 50%;
    }
    div#facts{
        flex-basis: 50%;
    }
    .flex-container-desktop-text{
        display:none;
    }
}
/* Media query for desktop: */
@media only screen and (min-width: 1440px) {
    .flex-container-large{
        display: flex;
        align-items: center;
    }
    .flex-container-laptop-text{
        display: none;
    }
    div#news{
        display: none;
    }
    .flex-container-desktop-text{
        display: flex;
        justify-items: baseline;
    }

    div.icon{
        display:none;
    }
    div#header{
        flex-basis: auto;
        width:70%;
    }
    div.icon2{
        flex-basis: auto;
        margin-left: 175px;
    }
    div#menu-bar{
        width:75%;
    }
    li{
        font-size: 15px;
        width:20%;
        text-align: center;
        margin:auto;
    }
    li a{
        margin: auto;
    }
    div#campus2{
        flex-basis: 42%;
    }
    div#facts2{
        flex-basis: 42%;
    }
    div#news2{
        flex-basis: 16%;
        align-self: flex-end;
        margin-top: -60px;
    }
    .border2{
        border-style: solid;
        margin: 0 10px 10px;
        padding: 0 20px 40px 20px;

    }
}
